* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eaecee;
}

.header {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #2c3e50;
}

.logo {
  width: 120px;
}

.assignment {
  padding-left: 10px;
}

.listitems {
  width: 420px;
}

.listitem {
  width: 400px;
  min-height: 15px;
  background: #ffffff;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.listitem h1 {
  color: #273746;
  font-size: 12pt;
}

.listitem p {
  color: #808b96;
  font-style: normal;
}

.following-username {
  float: left;
  color: #273746;
}

.following-username i {
  color: #808b96;
}

.following-buttons {
  float: right;
}

.compose {
  width: 400px;
  overflow: hidden;
  background: #ffffff;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.form-text {
  float: left;
  width: 340px;
  margin-right: 5px;
}

textarea {
  width: 330px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #eaecee;
  resize: none;
  padding: 4px;
}

.button-post-container {
  float: left;
  vertical-align: middle;
}

.button-post {
  width: 50px;
  height: 50px;
  font-size: 14pt;
  color: #808b96;
  border: 1px solid #808b96;
  background: #eaecee;
}

button-follow {
  color: Red;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
  padding: 8px;
}
